examples/wsdl/boNotificacaoPortalWSService.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NotificacaoPortalWSService" targetNamespace="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/" schemaLocation="NotificacaoPortalWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="inserirNotificacaoConfirmarDadosContato">
    <part name="parameters" element="tns:inserirNotificacaoConfirmarDadosContato">
    </part>
  </message>
  <message name="obterQuantidadeNotificacoesNaoLidasResponse">
    <part name="parameters" element="tns:obterQuantidadeNotificacoesNaoLidasResponse">
    </part>
  </message>
  <message name="listarNotificacoesResponse">
    <part name="parameters" element="tns:listarNotificacoesResponse">
    </part>
  </message>
  <message name="obterQuantidadeNotificacoesNaoLidasV2Response">
    <part name="parameters" element="tns:obterQuantidadeNotificacoesNaoLidasV2Response">
    </part>
  </message>
  <message name="alterarNotificacaoLida">
    <part name="parameters" element="tns:alterarNotificacaoLida">
    </part>
  </message>
  <message name="alterarNotificacaoLidaResponse">
    <part name="parameters" element="tns:alterarNotificacaoLidaResponse">
    </part>
  </message>
  <message name="inserirNotificacaoConfirmarDadosContatoResponse">
    <part name="parameters" element="tns:inserirNotificacaoConfirmarDadosContatoResponse">
    </part>
  </message>
  <message name="obterQuantidadeNotificacoesNaoLidasV2">
    <part name="parameters" element="tns:obterQuantidadeNotificacoesNaoLidasV2">
    </part>
  </message>
  <message name="obterQuantidadeNotificacoesNaoLidas">
    <part name="parameters" element="tns:obterQuantidadeNotificacoesNaoLidas">
    </part>
  </message>
  <message name="listarNotificacoes">
    <part name="parameters" element="tns:listarNotificacoes">
    </part>
  </message>
  <portType name="NotificacaoPortalWS">
    <operation name="obterQuantidadeNotificacoesNaoLidas">
      <input message="tns:obterQuantidadeNotificacoesNaoLidas" wsam:Action="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/NotificacaoPortalWS/obterQuantidadeNotificacoesNaoLidasRequest">
    </input>
      <output message="tns:obterQuantidadeNotificacoesNaoLidasResponse" wsam:Action="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/NotificacaoPortalWS/obterQuantidadeNotificacoesNaoLidasResponse">
    </output>
    </operation>
    <operation name="obterQuantidadeNotificacoesNaoLidasV2">
      <input message="tns:obterQuantidadeNotificacoesNaoLidasV2" wsam:Action="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/NotificacaoPortalWS/obterQuantidadeNotificacoesNaoLidasV2Request">
    </input>
      <output message="tns:obterQuantidadeNotificacoesNaoLidasV2Response" wsam:Action="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/NotificacaoPortalWS/obterQuantidadeNotificacoesNaoLidasV2Response">
    </output>
    </operation>
    <operation name="listarNotificacoes">
      <input message="tns:listarNotificacoes" wsam:Action="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/NotificacaoPortalWS/listarNotificacoesRequest">
    </input>
      <output message="tns:listarNotificacoesResponse" wsam:Action="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/NotificacaoPortalWS/listarNotificacoesResponse">
    </output>
    </operation>
    <operation name="alterarNotificacaoLida">
      <input message="tns:alterarNotificacaoLida" wsam:Action="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/NotificacaoPortalWS/alterarNotificacaoLidaRequest">
    </input>
      <output message="tns:alterarNotificacaoLidaResponse" wsam:Action="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/NotificacaoPortalWS/alterarNotificacaoLidaResponse">
    </output>
    </operation>
    <operation name="inserirNotificacaoConfirmarDadosContato">
      <input message="tns:inserirNotificacaoConfirmarDadosContato" wsam:Action="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/NotificacaoPortalWS/inserirNotificacaoConfirmarDadosContatoRequest">
    </input>
      <output message="tns:inserirNotificacaoConfirmarDadosContatoResponse" wsam:Action="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/NotificacaoPortalWS/inserirNotificacaoConfirmarDadosContatoResponse">
    </output>
    </operation>
  </portType>
  <binding name="NotificacaoPortalWSPortBinding" type="tns:NotificacaoPortalWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="obterQuantidadeNotificacoesNaoLidas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obterQuantidadeNotificacoesNaoLidasV2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarNotificacoes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="alterarNotificacaoLida">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="inserirNotificacaoConfirmarDadosContato">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NotificacaoPortalWSService">
    <port name="NotificacaoPortalWSPort" binding="tns:NotificacaoPortalWSPortBinding">
      <soap:address location="http://washmltmp:80/WAsecretariavirtual/NotificacaoPortalWSService"/>
    </port>
  </service>
</definitions>
