examples/wsdl/NotificacaoPortalWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/" version="1.0" targetNamespace="http://webservice.negocio.modelo.secretariavirtual.mks.cbpi/">

  <xs:element name="alterarNotificacaoLida" type="tns:alterarNotificacaoLida"></xs:element>

  <xs:element name="alterarNotificacaoLidaResponse" type="tns:alterarNotificacaoLidaResponse"></xs:element>

  <xs:element name="inserirNotificacaoConfirmarDadosContato" type="tns:inserirNotificacaoConfirmarDadosContato"></xs:element>

  <xs:element name="inserirNotificacaoConfirmarDadosContatoResponse" type="tns:inserirNotificacaoConfirmarDadosContatoResponse"></xs:element>

  <xs:element name="listarNotificacoes" type="tns:listarNotificacoes"></xs:element>

  <xs:element name="listarNotificacoesResponse" type="tns:listarNotificacoesResponse"></xs:element>

  <xs:element name="obterQuantidadeNotificacoesNaoLidas" type="tns:obterQuantidadeNotificacoesNaoLidas"></xs:element>

  <xs:element name="obterQuantidadeNotificacoesNaoLidasResponse" type="tns:obterQuantidadeNotificacoesNaoLidasResponse"></xs:element>

  <xs:element name="obterQuantidadeNotificacoesNaoLidasV2" type="tns:obterQuantidadeNotificacoesNaoLidasV2"></xs:element>

  <xs:element name="obterQuantidadeNotificacoesNaoLidasV2Response" type="tns:obterQuantidadeNotificacoesNaoLidasV2Response"></xs:element>

  <xs:complexType name="obterQuantidadeNotificacoesNaoLidas">
    <xs:sequence>
      <xs:element name="cdPtov" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obterQuantidadeNotificacoesNaoLidasResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseQtdNotificacoesNaoLidas" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseQtdNotificacoesNaoLidas">
    <xs:complexContent>
      <xs:extension base="tns:responseServices">
        <xs:sequence>
          <xs:element name="qtdNotificacoesNaoLidas" type="xs:int" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="responseServices">
    <xs:sequence>
      <xs:element name="codigo" type="xs:int"></xs:element>
      <xs:element name="mensagem" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inserirNotificacaoConfirmarDadosContato">
    <xs:sequence>
      <xs:element name="cdPtov" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cdPess" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="idContatoSiebel" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nomeContato" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="atributoIncorreto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="usuarioLogado" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inserirNotificacaoConfirmarDadosContatoResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseServices" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="alterarNotificacaoLida">
    <xs:sequence>
      <xs:element name="codigoNotificacao" type="xs:long" minOccurs="0"></xs:element>
      <xs:element name="lida" type="xs:boolean" minOccurs="0"></xs:element>
      <xs:element name="usuarioLogado" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="alterarNotificacaoLidaResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseServices" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obterQuantidadeNotificacoesNaoLidasV2">
    <xs:sequence>
      <xs:element name="dadosEmpresa" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dadosMasterFranq" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obterQuantidadeNotificacoesNaoLidasV2Response">
    <xs:sequence>
      <xs:element name="return" type="tns:responseQtdNotificacoesNaoLidas" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listarNotificacoes">
    <xs:sequence>
      <xs:element name="dadosEmpresa" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dadosMasterFranq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dtInicio" type="xs:dateTime" minOccurs="0"></xs:element>
      <xs:element name="dtFim" type="xs:dateTime" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listarNotificacoesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:responseListarNotificacoes" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseListarNotificacoes">
    <xs:complexContent>
      <xs:extension base="tns:responseServices">
        <xs:sequence>
          <xs:element name="notificacoes" type="tns:avisoVO" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="avisoVO">
    <xs:sequence>
      <xs:element name="altaPrioridade" type="xs:boolean" minOccurs="0"></xs:element>
      <xs:element name="assunto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="avisoLido" type="xs:boolean" minOccurs="0"></xs:element>
      <xs:element name="codigo" type="xs:long" minOccurs="0"></xs:element>
      <xs:element name="dataFinal" type="xs:dateTime" minOccurs="0"></xs:element>
      <xs:element name="dataInicial" type="xs:dateTime" minOccurs="0"></xs:element>
      <xs:element name="origem" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ptov" type="xs:long" minOccurs="0"></xs:element>
      <xs:element name="status" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="texto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoAviso" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>