examples/wsdl/ws.notificacaoPortal.Service.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://ipiranga.com.br/notificacaoPortal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://ipiranga.com.br/notificacaoPortal">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://ipiranga.com.br/notificacaoPortal">
            <s:element name="obterQuantidadeNotificacoesNaoLidas">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pRequest" type="s0:obterQtdNotificacoesNaoLidasReq"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="obterQtdNotificacoesNaoLidasReq">
                <s:complexContent>
                    <s:extension base="s0:Ens_Request">
                        <s:sequence>
                            <s:element minOccurs="0" name="dadosEmpresa" type="s:string"/>
                            <s:element minOccurs="0" name="dadosMasterFranq" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Request">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Messagebody">
                <s:annotation>
                    <s:documentation>Base class for simple message classes, and for the sub- base classes Ens.Request and Ens.Response.
Note however that any persistent or serial object can be sent as a message body. It is not required that all message body
object classes to be derived from this class.  Also note that all message classes derived from this class will share the
same storage extent in the database.</s:documentation>
                </s:annotation>
            </s:complexType>
            <s:element name="obterQuantidadeNotificacoesNaoLidasResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="obterQuantidadeNotificacoesNaoLidasResult" type="s0:notificacaoPortalResp"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="notificacaoPortalResp">
                <s:complexContent>
                    <s:extension base="s0:v2">
                        <s:sequence>
                            <s:element minOccurs="0" name="qtdNotificacoesNaoLidas" type="s:int"/>
                            <s:element minOccurs="0" name="codigo" type="s:int"/>
                            <s:element minOccurs="0" name="mensagem" type="s:string"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="v2">
                <s:annotation>
                    <s:documentation>&lt;!-- ;vc;-
;vc;    Object: canonico.responseIntegracao.v2.CLS/ENSINFRA.0
;vc; Component: CLS.canonico.responseIntegracao.v2
;vc;  Location: ENSINFRA-PRD
;vc; Date/Time: 19-Jul-19 11:34
;vc;      User: cacheusr
;vc; --&gt;&lt;p&gt;Deltanji status:&lt;table id='vcm' border='1' style='{font-size: 0.7em;}'&gt;&lt;tr&gt;&lt;td&gt;Object&lt;/td&gt;&lt;td&gt;canonico.responseIntegracao.v2.CLS/ENSINFRA.0&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Component&lt;/td&gt;&lt;td&gt;CLS.canonico.responseIntegracao.v2&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Location&lt;/td&gt;&lt;td&gt;ENSINFRA-PRD&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Date/Time&lt;/td&gt;&lt;td style='white-space: nowrap;'&gt;19-Jul-19 11:34&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;User&lt;/td&gt;&lt;td&gt;cacheusr&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;
</s:documentation>
                </s:annotation>
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="statusIntegracao" type="s0:statusIntegracao"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="Ens_Response">
                <s:complexContent>
                    <s:extension base="s0:Ens_Messagebody"/>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="statusIntegracao">
                <s:annotation>
                    <s:documentation>&lt;!-- ;vc;-
;vc;    Object: canonico.responseIntegracao.v2.statusIntegracao.CLS/ENSINFRA.0
;vc; Component: CLS.canonico.responseIntegracao.v2.statusIntegracao
;vc;  Location: ENSINFRA-HML
;vc; Date/Time: 11-Jul-19 20:54
;vc;      User: henriqueds
;vc; --&gt;&lt;p&gt;Deltanji status:&lt;table id='vcm' border='1' style='{font-size: 0.7em;}'&gt;&lt;tr&gt;&lt;td&gt;Object&lt;/td&gt;&lt;td&gt;canonico.responseIntegracao.v2.statusIntegracao.CLS/ENSINFRA.0&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Component&lt;/td&gt;&lt;td&gt;CLS.canonico.responseIntegracao.v2.statusIntegracao&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Location&lt;/td&gt;&lt;td&gt;ENSINFRA-HML&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Date/Time&lt;/td&gt;&lt;td style='white-space: nowrap;'&gt;11-Jul-19 20:54&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;User&lt;/td&gt;&lt;td&gt;henriqueds&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;
</s:documentation>
                </s:annotation>
                <s:complexContent>
                    <s:extension base="s0:Ens_Response">
                        <s:sequence>
                            <s:element minOccurs="0" name="status" type="s:boolean">
                                <s:annotation>
                                    <s:documentation>Informa o status da Integragação, se foi bem sucedida status=1, em caso de falha da Integração status=0</s:documentation>
                                </s:annotation>
                            </s:element>
                            <s:element minOccurs="0" name="mensagem">
                                <s:annotation>
                                    <s:documentation>Informa a mensagem de erro, sucesso ou observação da Integração</s:documentation>
                                </s:annotation>
                                <s:simpleType>
                                    <s:restriction base="s:string">
                                        <s:maxLength value="1024"/>
                                    </s:restriction>
                                </s:simpleType>
                            </s:element>
                            <s:element minOccurs="0" name="sessionId" type="s:long">
                                <s:annotation>
                                    <s:documentation>Retorna o identificador da Integração.</s:documentation>
                                </s:annotation>
                            </s:element>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
        </s:schema>
    </types>
    <message name="obterQuantidadeNotificacoesNaoLidasSoapIn">
        <part name="parameters" element="s0:obterQuantidadeNotificacoesNaoLidas"/>
    </message>
    <message name="obterQuantidadeNotificacoesNaoLidasSoapOut">
        <part name="parameters" element="s0:obterQuantidadeNotificacoesNaoLidasResponse"/>
    </message>
    <portType name="NotificacaoPortalSoap">
        <operation name="obterQuantidadeNotificacoesNaoLidas">
            <input message="s0:obterQuantidadeNotificacoesNaoLidasSoapIn"/>
            <output message="s0:obterQuantidadeNotificacoesNaoLidasSoapOut"/>
        </operation>
    </portType>
    <binding name="NotificacaoPortalSoap" type="s0:NotificacaoPortalSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="obterQuantidadeNotificacoesNaoLidas">
            <soap:operation soapAction="http://ipiranga.com.br/notificacaoPortal/ws.notificacaoPortal.Service.obterQuantidadeNotificacoesNaoLidas" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NotificacaoPortal">
        <port name="NotificacaoPortalSoap" binding="s0:NotificacaoPortalSoap">
            <soap:address location="http://eaiprd:2010/csp/enscrmws/ws.notificacaoPortal.Service.cls"/>
        </port>
    </service>
</definitions>