examples/wsdl/ws.pedido.parametro.Service.wsdl

<definitions
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:ns2="http://ipiranga.com.br/statusIntegracao"
	xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:s0="http://ipiranga.com.br/Parametro"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://ipiranga.com.br/Parametro">
	<types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://ipiranga.com.br/Parametro">
			<s:import namespace="http://ipiranga.com.br/statusIntegracao"/>
			<s:element name="buscar">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" name="pRequest" type="s0:Request"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="Request">
				<s:complexContent>
					<s:extension base="s0:Ens_Request">
						<s:sequence>
							<s:element name="dataHoraSolicitacao" type="s:dateTime"/>
							<s:element minOccurs="0" name="codCliente" type="s:string"/>
							<s:element minOccurs="0" name="an8Cliente" type="s:string"/>
							<s:element name="codDependencia" type="s:string"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Ens_Request">
				<s:complexContent>
					<s:extension base="s0:Ens_Messagebody"/>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Ens_Messagebody">				
			</s:complexType>
			<s:element name="buscarResponse">
				<s:complexType>
					<s:sequence>
						<s:element name="buscarResult" type="ns2:Response"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="Ens_Response">
				<s:complexContent>
					<s:extension base="s0:Ens_Messagebody"/>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="Parametros">
				<s:sequence>
					<s:element minOccurs="0" name="dataHoraLimitePedidoOp" type="s:dateTime"/>
					<s:element minOccurs="0" name="dataHoraEncerraProgLog" type="s:dateTime"/>
					<s:element minOccurs="0" name="dataAtualOperacao" type="s:date"/>
					<s:element minOccurs="0" name="dataProximaOperacao" type="s:date"/>
					<s:element minOccurs="0" name="dataLimPedEntrega" type="s:date"/>
					<s:element minOccurs="0" name="eCalendarizado" type="s:boolean"/>
					<s:element minOccurs="0" name="datasCalendarizacao" type="s0:ArrayOfDatasCalendarizacaoPairOfdatasCalendarizacaoKeyDataCalendarizacao"/>
					<s:element minOccurs="0" name="volumeMinCalend" type="s:decimal"/>
					<s:element minOccurs="0" name="temDescGradeNoturna" type="s:boolean"/>
					<s:element minOccurs="0" name="podeEscolherGrade" type="s:boolean"/>
					<s:element minOccurs="0" name="gradeHoraria" type="s0:ArrayOfGradeHorariaPairOfgradeHorariaKeyGradeHoraria"/>
					<s:element minOccurs="0" name="exigeDataOper" type="s:boolean"/>
					<s:element minOccurs="0" name="datasOperacionais" type="s0:ArrayOfDatasOperacionaisPairOfdatasOperacionaisKeyDatasOperacionais"/>
					<s:element minOccurs="0" name="exigePagAntecipado" type="s:boolean"/>
					<s:element minOccurs="0" name="podeObsAlocacao" type="s:boolean"/>
					<s:element minOccurs="0" name="indZonaRestEntNot" type="s:boolean"/>
					<s:element minOccurs="0" name="podeInserirPedidoDia" type="s:boolean"/>
					<s:element minOccurs="0" name="dataMaximaSelPortal" type="s:date"/>
					<s:element minOccurs="0" name="fracionarItemPedido" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfDatasCalendarizacaoPairOfdatasCalendarizacaoKeyDataCalendarizacao">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="DatasCalendarizacao" nillable="true" type="s0:PairOfdatasCalendarizacaoKeyDataCalendarizacao"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="PairOfdatasCalendarizacaoKeyDataCalendarizacao">
				<s:complexContent>
					<s:extension base="s0:DataCalendarizacao">
						<s:attribute name="datasCalendarizacaoKey" type="s:string" use="required"/>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="DataCalendarizacao">
				<s:sequence>
					<s:element minOccurs="0" name="dataCalendarizacao" type="s:date"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfGradeHorariaPairOfgradeHorariaKeyGradeHoraria">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="GradeHoraria" nillable="true" type="s0:PairOfgradeHorariaKeyGradeHoraria"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="PairOfgradeHorariaKeyGradeHoraria">
				<s:complexContent>
					<s:extension base="s0:GradeHoraria">
						<s:attribute name="gradeHorariaKey" type="s:string" use="required"/>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="GradeHoraria">
				<s:sequence>
					<s:element minOccurs="0" name="diaSemana" type="s:string"/>
					<s:element minOccurs="0" name="inicio" type="s:time"/>
					<s:element minOccurs="0" name="final" type="s:time"/>
					<s:element minOccurs="0" name="eLiberadaCliente" type="s:long"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="ArrayOfDatasOperacionaisPairOfdatasOperacionaisKeyDatasOperacionais">
				<s:sequence>
					<s:element maxOccurs="unbounded" minOccurs="0" name="DatasOperacionais" nillable="true" type="s0:PairOfdatasOperacionaisKeyDatasOperacionais"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="PairOfdatasOperacionaisKeyDatasOperacionais">
				<s:complexContent>
					<s:extension base="s0:DatasOperacionais">
						<s:attribute name="datasOperacionaisKey" type="s:string" use="required"/>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="DatasOperacionais">
				<s:sequence>
					<s:element minOccurs="0" name="dataOperacional" type="s:date"/>
				</s:sequence>
			</s:complexType>
		</s:schema>
		<s:schema elementFormDefault="qualified" targetNamespace="http://ipiranga.com.br/statusIntegracao">
			<s:import namespace="http://ipiranga.com.br/Parametro"/>
			<s:complexType name="Response">
				<s:complexContent>
					<s:extension base="ns2:v3">
						<s:sequence>
							<s:element minOccurs="0" name="status" type="s:long"/>
							<s:element minOccurs="0" name="mensagem">
								<s:simpleType>
									<s:restriction base="s:string">
										<s:maxLength value="1024"/>
									</s:restriction>
								</s:simpleType>
							</s:element>
							<s:element minOccurs="0" name="parametros" type="s0:Parametros"/>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>
			<s:complexType name="v3">
					<s:complexContent>
						<s:extension base="s0:Ens_Response">
							<s:sequence>
								<s:element minOccurs="0" name="statusIntegracao" type="ns2:statusIntegracao"/>
							</s:sequence>
						</s:extension>
					</s:complexContent>
				</s:complexType>
				<s:complexType name="statusIntegracao">					
						<s:sequence>
							<s:element minOccurs="0" name="status" type="s:boolean"/>
							<s:element minOccurs="0" name="codigo" type="s:string"/>
							<s:element minOccurs="0" name="mensagem" type="s:string"/>
							<s:element minOccurs="0" name="sessionId" type="s:long"/>
						</s:sequence>
					</s:complexType>
				</s:schema>
			</types>
			<message name="buscarSoapIn">
				<part name="parameters" element="s0:buscar"/>
			</message>
			<message name="buscarSoapOut">
				<part name="parameters" element="s0:buscarResponse"/>
			</message>
			<portType name="ParametrosPedidoSoap">
				<operation name="buscar">
					<documentation>
						<table border="1">
							<tr>
								<td>
									<b>Método responsável para consulta de parametros.</b>
								</td>
							</tr>
						</table>
						<br/>
						<p>
							<b>Sistema Provedor da capacidade:</b>
						</p>
						<ul>
							<li>Abadi</li>
						</ul>
					</documentation>
					<input message="s0:buscarSoapIn"/>
					<output message="s0:buscarSoapOut"/>
				</operation>
			</portType>
			<binding name="ParametrosPedidoSoap" type="s0:ParametrosPedidoSoap">
				<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
				<operation name="buscar">
					<!-- <soap:operation soapAction="http://ipiranga.com.br/Parametro/ws.pedido.parametro.Service.buscar" style="document"/> -->
					<soap:operation soapAction="http://localhost:8081/csp/enscrmws/ws/pedido/parametro" style="document"/>

                    <!-- Example -->
					<!-- <soap:operation soapAction="http://localhost:8081/csp/ipirangaws/ws/parametroPedido" style="document"/> -->
			        <!-- <soap:operation soapAction="http://ipiranga.com.br/parametroPedido/ws.parametroPedido.Service.incluir" style="document"/> -->

					<input>
						<soap:body use="literal"/>
					</input>
					<output>
						<soap:body use="literal"/>
					</output>
				</operation>
			</binding>
			<service name="ParametrosPedido">
				<port name="ParametrosPedidoSoap" binding="s0:ParametrosPedidoSoap">
					<!-- <soap:address location="http://eaiprd:2010/csp/enscrmws/ws.pedido.parametro.Service.cls"/> -->
					<soap:address location="http://localhost:8081/csp/enscrmws/ws/pedido/parametro"/>
				</port>
			</service>
		</definitions>